# Ignore everything
*

# But not these files...
!README.md
!OLD_Respaldo.zip
!chilexplox/
chilexplox/*
!chilexplox/src/
!chilexplox/src/ciruman/
!chilexplox/src/ciruman/*
!imgs/
!imgs/*
!librerias/
!librerias/FXMessageBox.jar
